APP_NAME=API de ¿Ahí es?
API_PREFIX=/api/v1
DATABASE_URL=postgresql+psycopg2://ahi_es:CAMBIA_ESTE_PASSWORD@postgres:5432/ahi_es
CORS_ORIGINS_RAW=https://mate.lynqcr.com,http://mate.lynqcr.com
DIMENSION_MIN_SCORE=-20
DIMENSION_MAX_SCORE=20
